body {
	font-family: sans-serif;
}

th {
	text-align: start;
}

table {
	border-collapse: collapse;
}

th,
td {
	padding: 10px;
	border: 1px solid #888;
}

.productQuantity,
.productPrice,
.productTotalCost,
.totalCost {
	text-align: end;
}
